<app-orders></app-orders>
<div class="main">
    <div class="clearfix">
        <form class="formwidth" #orderForm="ngForm" (ngSubmit)="onCha(orderForm.value)">
            <h4 class="left">
                <span>虚拟足球过关投注数据明细表</span><br>
                <span>Allup Level Breakdown</span>
            </h4>
            <form class="formdate left">
                <p class="word">
                    <input id="d12" class="Wdate" type="text"/>
                    <input type="radio" name="radio" value="1" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy'})"/>年
                    <input type="radio" name="radio" value="2" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M'})"/>月
                    <input type="radio" name="radio" value="3" checked="checked" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M-d'})"/>日
                </p>
            </form>
            <p class="word left">
                <button class="selss" type="submit">查询</button>
            </p>
        </form>
        <p class="word">
            <button (click)="export()">导出</button>
        </p>
    </div>
    <div class="row-fluid">
        <table class="table">
            <thead>
                <tr class="thtible">
                    <th style="width:20%;">人民币RMB</th>
                    <th style="width:20%;">投注额</th>
                    <th style="width:20%;">返奖金额</th>
                    <th style="width:20%;">返奖率</th>
                    <th style="width:20%;">盈利</th>
                </tr>
                <tr class="firstr odds" *ngIf="allupdata">
                    <th style="width:20%;">合计</th>
                    <th style="width:20%;">{{allupdata.totalInvestment}}</th>
                    <th style="width:20%;">{{allupdata.totalPrice}}</th>
                    <th style="width:20%;">{{allupdata.payoutRate}}%</th>
                    <th style="width:20%;">{{allupdata.payout}}</th>
                </tr>
            </thead>
        </table>
        <table id="scro">
            <tbody id="lists" *ngIf="allupHAD">
                <tr class="tablelv" *ngIf="allHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">HAD</td>
                    <td style="width:20%;">{{allHAD.totalInvestment}}</td>
                    <td style="width:20%;">{{allHAD.totalPrice}}</td>
                    <td style="width:20%;">{{allHAD.payoutRate}}</td> 
                    <td style="width:20%;">{{allHAD.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupHHAD">
                <tr class="tablelv" *ngIf="allHHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">HHAD</td>
                    <td style="width:20%;">{{allHHAD.totalInvestment}}</td>
                    <td style="width:20%;">{{allHHAD.totalPrice}}</td>
                    <td style="width:20%;">{{allHHAD.payoutRate}}</td> 
                    <td style="width:20%;">{{allHHAD.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupHHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupHAFU">
                <tr class="tablelv" *ngIf="allHAFU">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">HAFU</td>
                    <td style="width:20%;">{{allHAFU.totalInvestment}}</td>
                    <td style="width:20%;">{{allHAFU.totalPrice}}</td>
                    <td style="width:20%;">{{allHAFU.payoutRate}}</td> 
                    <td style="width:20%;">{{allHAFU.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupHAFU">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupTTG">
                <tr class="tablelv" *ngIf="allTTG">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">TTG</td>
                    <td style="width:20%;">{{allTTG.totalInvestment}}</td>
                    <td style="width:20%;">{{allTTG.totalPrice}}</td>
                    <td style="width:20%;">{{allTTG.payoutRate}}</td> 
                    <td style="width:20%;">{{allTTG.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupTTG">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupCRS">
                <tr class="tablelv" *ngIf="allCRS">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">CRS</td>
                    <td style="width:20%;">{{allCRS.totalInvestment}}</td>
                    <td style="width:20%;">{{allCRS.totalPrice}}</td>
                    <td style="width:20%;">{{allCRS.payoutRate}}</td> 
                    <td style="width:20%;">{{allCRS.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupCRS">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupFHAD">
                <tr class="tablelv" *ngIf="allFHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">FHAD</td>
                    <td style="width:20%;">{{allFHAD.totalInvestment}}</td>
                    <td style="width:20%;">{{allFHAD.totalPrice}}</td>
                    <td style="width:20%;">{{allFHAD.payoutRate}}</td> 
                    <td style="width:20%;">{{allFHAD.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupFHAD">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupAHC">
                <tr class="tablelv" *ngIf="allAHC">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">AHC</td>
                    <td style="width:20%;">{{allAHC.totalInvestment}}</td>
                    <td style="width:20%;">{{allAHC.totalPrice}}</td>
                    <td style="width:20%;">{{allAHC.payoutRate}}</td> 
                    <td style="width:20%;">{{allAHC.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupAHC">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupFAHC">
                <tr class="tablelv" *ngIf="allFAHC">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">FAHC</td>
                    <td style="width:20%;">{{allFAHC.totalInvestment}}</td>
                    <td style="width:20%;">{{allFAHC.totalPrice}}</td>
                    <td style="width:20%;">{{allFAHC.payoutRate}}</td> 
                    <td style="width:20%;">{{allFAHC.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupFAHC">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupHL">
                <tr class="tablelv" *ngIf="allHL">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">HL</td>
                    <td style="width:20%;">{{allHL.totalInvestment}}</td>
                    <td style="width:20%;">{{allHL.totalPrice}}</td>
                    <td style="width:20%;">{{allHL.payoutRate}}</td> 
                    <td style="width:20%;">{{allHL.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupHL">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupFHL">
                <tr class="tablelv" *ngIf="allFHL">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">FHL</td>
                    <td style="width:20%;">{{allFHL.totalInvestment}}</td>
                    <td style="width:20%;">{{allFHL.totalPrice}}</td>
                    <td style="width:20%;">{{allFHL.payoutRate}}</td> 
                    <td style="width:20%;">{{allFHL.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupFHL">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupFGS">
                <tr class="tablelv" *ngIf="allFGS">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">FGS</td>
                    <td style="width:20%;">{{allFGS.totalInvestment}}</td>
                    <td style="width:20%;">{{allFGS.totalPrice}}</td>
                    <td style="width:20%;">{{allFGS.payoutRate}}</td> 
                    <td style="width:20%;">{{allFGS.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupFGS">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody id="lists" *ngIf="allupFCA">
                <tr class="tablelv" *ngIf="allFCA">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">FCA</td>
                    <td style="width:20%;">{{allFCA.totalInvestment}}</td>
                    <td style="width:20%;">{{allFCA.totalPrice}}</td>
                    <td style="width:20%;">{{allFCA.payoutRate}}</td> 
                    <td style="width:20%;">{{allFCA.payout}}</td> 
                </tr>
                <tr *ngFor="let b of allupFCA">
                    <td style="visibility:hidden;">0</td>
                    <td style="width:20%;">{{b.local_m}}关    Level {{b.local_m}}</td>
                    <td style="width:20%;">{{b.totalInvestment}}</td>
                    <td style="width:20%;">{{b.totalPrice}}</td>
                    <td style="width:20%;">{{b.payoutRate}}</td> 
                    <td style="width:20%;">{{b.payout}}</td> 
                </tr>
            </tbody>
            <tbody *ngIf="Nodata">
                <tr>
                    <td colspan="10">{{data}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>