<app-orders></app-orders>
<div class="main">
    <div class="clearfix">
            <form class="formdate left" #orderForm="ngForm" (ngSubmit)="onCha(orderForm.value)">
                <!-- <h4 class="left">
                    <span> 虚拟订单管理</span><br />
                    <span>Order Management</span>
                </h4>     -->
                <p class="word">
                        <span>订单ID：</span><input id="tk" type="text" name="dingdan" [(ngModel)]="ding" value=""/><br />
                        <span>用户ID：</span><input id="uid" type="text" name="yonghu" [(ngModel)]="yong" value=""/>
                    </p>
                    <p class="word">
                        <span>交易开始时间：</span>
                        <input type="text" id="startime" class="Wdate" onfocus="WdatePicker({skin:'whyGreen',startDate:'%y-%M-%d 12:00:00',dateFmt:'yyyy-M-d HH:mm:ss'})" />
                        <br />
                        <span>交易截止时间：</span>
                        <input type="text" id="endtime" class="Wdate" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-M-d HH:mm:ss'})" />
                    </p>
                    <p class="word">
                        <span>订单类型：</span>
                        <select id="inplay" name="inplay" [(ngModel)]="in">
                            <option value="all">ALL</option>
                            <option value="0">死球</option>
                            <option value="1">即场</option>
                        </select><br />
                        <span>订单状态：</span>
                        <select id="state" name="state" [(ngModel)]="sta">
                            <option value="all">ALL</option>
                            <option value="1">中奖</option>
                            <option value="2">未中奖</option>
                            <option value="3">Alive</option>
                        </select>
                    </p>
                    <p class="word">
                        <span>渠道的来源：</span>
                        <select id="agentNum" name="agentNum" [(ngModel)]="agent">
                            <option value="all">ALL</option>
                            <option *ngFor="let agentNums of resut;" [value]='agentNums.agentNum'>{{agentNums.agentName}}</option>
                        </select><br />
                        <button class="selss" type="submit">查询</button>
                        <button (click)="export()">导出</button>
                    </p>
            </form>
    </div>
    <div class="row-fluid">
        <table class="table">
            <thead>
                <tr class="thtible" *ngIf="shu">
                    <td>合计Total</td>
                    <!--<th>{{total.tkId}}</th>-->
                    <td>{{shu.uid}}</td>
                    <td>-</td> 
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td>
                    <td>{{shu.totalPrice}}</td>
                    <td>-</td>
                    <td>-</td> 
                    <td>{{shu.totalInvestment}}</td>
                    <td>{{shu.payoutrate}}</td> 
                    <td>{{shu.winMoney}}</td>
                    <td></td>
                </tr>
            </thead>
            <thead>
                <tr class="firstr odds">
                    <th>订单ID</th>
                    <th>用户ID</th>
                    <th>渠道</th> 
                    <th>彩种</th> 
                    <th>玩法</th>
                    <th>订单类型</th>
                    <th>最大中奖额</th>
                    <th>渠道促销</th>
                    <th>下注时间</th> 
                    <th>下注金额</th>
                    <th>订单状态</th> 
                    <th>中奖金额</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="firstr" *ngIf="shuju">
                <tr *ngFor="let b of shuju">
                    <td>{{b.tkId}}</td>
                    <td>{{b.uid}}</td>
                    <td>{{b.agentName}}</td> 
                    <td>{{b.ballType_name}}</td> 
                    <td>{{b.bettingproducts}}</td>
                    <td>{{b.inplay_name}}</td>
                    <td>{{b.totalPrice}}</td>
                    <td>{{b.addAwardAmount}}</td>
                    <td>{{b.investTime}}</td> 
                    <td>{{b.totalInvestment}}</td>
                    <td>{{b.state_name}}</td> 
                    <td>{{b.winMoney}}</td>
                    <td>
                        <button id="btnshow" (click)="showdiv(b.ticketInfo_id,b.ballType)">详情</button>
                        <div id="bg"></div>
                        <div id="show">
                            <input id="btnclose" value="Close" (click)="hidediv()" type="button">
                            <table>
                                <thead class="fontse">
                                    <tr>
                                        <th style="width:8%;">订单ID</th>
                                        <th style="width:74%;" colspan="4">hsjfhfdff</th>
                                        <th style="width:8%;">退款</th>
                                        <th style="width:8%;">20</th>
                                    </tr>
                                    <tr class="lv">
                                        <th style="width:8%;">序号</th>
                                        <th style="width:8%;">玩法</th>
                                        <th style="width:50%;">投注内容</th>
                                        <th style="width:8%;">过关方式</th>
                                        <th style="width:8%;">中奖金额</th>
                                        <th style="width:8%;">投注金额</th>
                                        <th style="width:8%;">退款金额</th>
                                    </tr>
                                </thead>
                            </table>
                            <table id="scro">
                                <tbody class="barrier" *ngIf="details">
                                    <tr *ngFor="let de of details">
                                        <td style="visibility:hidden;">0</td>
                                        <td style="width:8%;">{{de.payouttime}}</td>
                                        <td style="width:8%;">{{de.product}}</td>
                                        <td style="width:50%;">{{de.investInfo}}</td>
                                        <td style="width:8%;">{{de.local_m}}</td>
                                        <td style="width:8%;">{{de.total_price}}</td>
                                        <td style="width:8%;">{{de.payouttime}}</td>
                                        <td style="width:8%;">{{de.inv_allup}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="Nodata3">
                                    <tr>
                                        <td colspan="3">{{data3}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="Nodata">
                <tr>
                    <td colspan="13">{{data}}</td>
                </tr>
            </tbody>
            
            <tbody>
                <tr>
                    <td colspan="13">
                        <el-pagination [total]="count" 
                        [page-size]="18" 
                        *ngIf="count>0" 
                        (modelChange)="modelChange($event)" 
                        [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
                        </el-pagination>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>