.main{
    background: rgba(255,255,255,0.8);
    margin-left:180px;
    min-height: 100vh; 
    // background-size: cover;
    padding-left: 20px;
}
a{
    text-decoration: none;
}
.left{float: left;}
.formdate{margin: 0 5%;}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
.formwidth{
        width: 80%;
    }
.word{
    display: inline-block;
}
.word select{
    margin: 0;
    width: 140px;
}
.word input,.word select{
border: 1px solid #666;
display: inline-block;
padding: 5px 6px;
font-size: 14px;
line-height: 20px;
border-radius: 4px;
}
button{
    background: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 6px;
    color: #333;
    margin: 0 10px;
}
.selss{
    color: #333;
    background: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
sub{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
table{
    width: 100%;
    background: #fbfbfb;
}
table th{
    padding: 6px 0;
}
table td{
    text-align: center;
    padding: 6px 0;
}
.odds{
    background: #ff9900;
    color:#fff;
}
#firstr{
    color: #333;
}
#lists tr:nth-of-type(even){
    background: #fff7e6;
}
.smallfont{font-size: 10px; background-color:rgba(153, 204, 102, 1);}
.smallfonttitle{font-size: 10px; background-color:rgba(255, 153, 0, 1);}
.smallfontbody{font-size: 10px; background-color:rgba(255, 247, 230, 1);}

