<app-orders></app-orders>
<div class="main">
    <div class="clearfix">
        <form class="formwidth" #orderForm="ngForm" (ngSubmit)="onCha(orderForm.value)">
            <h4 class="left">
                <span>虚拟渠道统计报表</span>
            </h4>
            <form class="formdate left">
                <p class="word">
                    <input id="d12" class="Wdate" type="text"/>
                    <input type="radio" name="radio" value="1" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy'})"/>年
                    <input type="radio" name="radio" value="2" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M'})"/>月
                    <input type="radio" name="radio" value="3" checked="checked" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M-d'})"/>日
                </p>
            </form>
            <p class="word left">
                <button class="selss" type="submit">查询</button>
            </p>
        </form>
        <p class="word">
            <button (click)="export()">导出</button>
        </p>
    </div>
    <div class="row-fluid">
        <table class="table">
            <thead>
                <tr class="thtible" *ngIf="agentdata">
                    <td>合计Total</td>
                    <!-- <td>{{agentdata.agentName}}</td>  -->
                    <td>{{agentdata.agentCode}}</td>
                    <td>{{agentdata.agentRate}}</td>
                    <td>{{agentdata.ballType_name}}</td>
                    <td>{{agentdata.userAmountFb}}</td>
                    <td>{{agentdata.orderAmountFb}}</td> 
                    <td>{{agentdata.profitFb}}￥</td>
                    <td>{{agentdata.winMoneyFb}}￥</td>
                    <td>{{agentdata.tradePriceFb}}￥</td> 
                    <td>{{agentdata.profitabilityFb}}%</td>
                </tr>
            </thead>
            <thead>
                <tr class="firstr odds">
                    <th>渠道名称</th>
                    <th>渠道编码</th>
                    <th>兑奖率</th> 
                    <th>渠道开停售</th> 
                    <th>注册用户数</th>
                    <th>订单数</th>
                    <th>投注金额</th>
                    <th>返奖金额</th>
                    <th>盈亏</th> 
                    <th>盈利率</th>
                </tr>
            </thead>
            <tbody id="lists" *ngIf="agentdatas">
                <tr *ngFor="let b of agentdatas">
                    <td>{{b.agentName}}</td>
                    <td>{{b.agentCode}}</td>
                    <td>{{b.agentRate}}</td> 
                    <td>{{b.ballType_name}}</td> 
                    <td>{{b.userAmountFb}}</td>
                    <td>{{b.orderAmountFb}}</td>
                    <td>{{b.profitFb}}￥</td>
                    <td>{{b.winMoneyFb}}￥</td>
                    <td>{{b.tradePriceFb}}￥</td> 
                    <td>{{b.profitabilityFb}}%</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>102</td>
                    <td>0.1</td> 
                    <td>开售</td> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td>%</td>
                </tr>
                <tr>
                    <td>乐米</td>
                    <td>111</td>
                    <td>0.01</td> 
                    <td>开售</td> 
                    <td>3</td>
                    <td>42</td>
                    <td>445.03</td>
                    <td>0</td>
                    <td>445.03</td> 
                    <td>100%</td>
                </tr>
            </tbody>
            <tbody *ngIf="Nodata">
                <tr>
                    <td colspan="10">{{data}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>